<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11313563262-5b3qkl8i2fuddc5br7d9l1upqqdk8k05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11313563262-5b3qkl8i2fuddc5br7d9l1upqqdk8k05</string>
	<key>API_KEY</key>
	<string>AIzaSyCTH72BRm7X-CECgy5_J1kgmtzm1qHOkxE</string>
	<key>GCM_SENDER_ID</key>
	<string>11313563262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lab07google</string>
	<key>PROJECT_ID</key>
	<string>mobileapp-cs-c9e93</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapp-cs-c9e93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11313563262:ios:9095c8808b4c02021bfa2f</string>
</dict>
</plist>